{% extends 'base.html.twig' %}

{% block title %}Créer un utilisateur{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2>Créer un nouvel utilisateur</h2>

    {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.roles) }}
        <button class="btn btn-primary mt-3">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_users') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
</div>
{% endblock %}
