{% extends 'base.html.twig' %}

{% block title %}Administration des utilisateurs{% endblock %}

{% block body %}
<h1>Liste des utilisateurs</h1>

<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Nom</th>
            <th>Rôles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.nom }}</td>
            <td>{{ user.roles|join(', ') }}</td>
            <td>
                <a href="{{ path('admin_user_edit', {'id': user.id}) }}">Modifier rôles</a>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="5">Aucun utilisateur trouvé</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
